<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="resources/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/passwordModify.css">
    <link rel="stylesheet" href="stylesheets/remodal.css">
    <link rel="stylesheet" href="stylesheets/remodal-default-theme.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="resources/materialize/js/materialize.min.js"></script>
    <script src="javascripts/remodal.js"></script>
    <title><%= title %></title>

</head>
<header>
    <a class="navbar-brand" href="/">
        lotusKB <span>(knowledge base)</span>
    </a>
</header>
<div class="all">
    <div class="pwd-modify">
        <form action="" method="post">
            <p>请修改初始密码</p>
            <div class="input-field">
                <input type="password" id="password" required>
                <label for="password">新密码:（长度不能小于6个字符）</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirm-pwd" required>
                <label for="confirm-pwd">确认密码:</label>
            </div>
            <button class="btn" type="button" name="action" id="submit">确定修改</button>
        </form>
    </div>
    <div class="remodal" data-remodal-id="pwd-modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div>
            <h2 id="modal1Title">提醒</h2>
            <p id="pwd-modal-body"></p>
        </div>
        <br>
        <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#submit").click(function () {
            var inst = $('[data-remodal-id=pwd-modal]').remodal();//模态框初始化
            var password = $("#password").val();
            var confirm_pwd = $("#confirm-pwd").val();
            var pwd_modal_body = $("#pwd-modal-body");
            if(!password){
                inst.open();
                pwd_modal_body.html("密码不能为空");
            } else if(password.length < 6){
                inst.open();
                pwd_modal_body.html("密码长度不能小于6个字符");
            } else if(password !== confirm_pwd){
                inst.open();
                pwd_modal_body.html("两次密码输入不一致");
            } else{
                $.ajax({
                    url:'/passwordModify',
                    type:'post',
                    data:{password:password},
                    success:function (data) {
                        if(data.success = 0){
                            inst.open();
                            pwd_modal_body.html("修改失败，请重试...");
                        }
                        if(data.success = 1){
                            inst.open();
                            pwd_modal_body.html("修改成功，正在跳转...");
                            setTimeout(function () {
                                window.location.href = '<%= config.webBaseUrl %>';
                            },2000);
                        }
                    }
                })
            }
        });
    });
</script>
<%- include('footer') %>