<!doctype html>
<html lang="en">
<head>
    <%- include('templates/header-title') %>
    <link rel="stylesheet" href="resources/wangEditor/dist/css/wangEditor.min.css">
    <link rel="stylesheet" href="resources/bootstrap-treeview/bootstrap-treeview.css">
    <link rel="stylesheet" href="stylesheets/post.css">
</head>
<body>

<%- include('templates/header-simple') %>
<div class="container newpage-content" id="container">
    <form class="html-editor" role="form">
        <div class="title row">
            <label for="title" class="control-label col-xs-2">标题：</label>
            <div class="col-xs-10">
                <input type="text" name="title" id="title" class="form-control" v-model="title"/>
            </div>
        </div>

        <div class="editor-toggle">
            <a href="/post-markdown">切换到markdown编辑器</a>
        </div>
        <!--文章正文-->
        <div class="form-group mytextarea">
            <textarea id="content" name="content"></textarea>
        </div>

        <div class="category row">
            <label class="control-label col-sm-3">个人分类：<a href="#" data-toggle="modal" data-target="#add-category">[新建分类]</a></label>
            <div class="col-sm-9">
                <select class="form-control" v-model="categorySelected" id="select-category">
                    <option v-for="item in category" v-bind:value="item._id">{{ item.name }}</option>
                </select>
            </div>
        </div>



        <!--用于提交给后台判断是从哪个编辑器发表过来的文章-->
        <input type="hidden" id="editor-value" v-bind:value="editorValue='html'">
        <div class="submit">
            <button type="button" v-on:click="submit()">发表博客</button>
        </div>
    </form>
    <!--添加分类-->
    <div class="modal fade" id="add-category" tabindex="-1" role="dialog" aria-labelledby="prompt-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加分类</h4>
                </div>
                <div class="row modal-body" style="padding: 20px">
                    <input type="text" class="form-control" v-model="newCategory.categoryName" placeholder="分类名,默认添加成根节点">
                    <p class="prompt" v-bind:style="{display:isError.add_root_error}">分类名不能为空!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" v-on:click="addRoot()">添加</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('templates/modal') %>

</div><!--end container newpage-content-->

<%- include('templates/footer') %>
</body>

<script type="text/javascript" src="resources/wangEditor/dist/js/wangEditor.min.js"></script><!--html editor-->
<script src="resources/bootstrap-treeview/bootstrap-treeview.js"></script>
<script type="text/javascript" src="javascripts/post.js"></script>
<script>
    //编辑器配置，普通编辑器
    var editor = new wangEditor('content');
    editor.config.uploadImgUrl = './post/imgupload';
    editor.create();
</script>
</html>